<%= render 'shared/club_banner', object: @club, as: @club %>
	
<div class="container">

<h1>
  <%= @club.name %>
</h1>

<%= render 'shared/club_nav' %>

<div class="row">
<div class="col-md-8">
	<p class="well">
		<%= @club.green_fees.gsub(/\n/, '<br/>').html_safe %>
	</p>
</div>
<div class="col-md-4" >
	
</div>
</div>