
<div style='width: 100%;'>
  <div id="map" style='width: 100%; height: 800px;'></div>
</div>

    <script>

	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {
		disableDefaultUI: true,
	    zoom: 6,
	    center: new google.maps.LatLng(51.423851606124835,-3.233526349067688)
	}, internal: {id: 'map'}}, function(){
	  markers = handler.addMarkers([

	    {
	      "lat": <%= @clubs.first["latitude"] %>,
	      "lng": -3.233526349067688,
	      "picture": {
	        "url": "http://res.cloudinary.com/dp74g8ibh/image/upload/v1410372939/favicon_fxvuto.png",
	        "width":  30,
	        "height": 30

	      },
	      "infowindow": "<a href='<%=j club_url(@clubs.first['id']) %>' ><%=j @clubs.first['name'] %></a>",
	      "url": "<%=j club_url(@clubs.first['id']) %>"
	    }


	  ]);
	  handler.bounds.extendWith(markers);
	  // handler.fitMapToBounds();

	});

    </script>