
<div>
  <div id="map" style='width: 1500px; height: 250px;'></div>
</div>


<script type="text/javascript">
  
handler = Gmaps.build('Google');

handler.buildMap({
 provider: {
  disableDefaultUI: true,
  mapTypeId: google.maps.MapTypeId.HYBRID,
  zoom: 12,
  zoomControl: true

}, internal: {id: 'map'}, MapTypeId: 'HYBRID'}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%=j @club.latitude.to_json.html_safe %>,
      "lng": <%=j @club.longitude.to_json.html_safe %>,
      "picture": {
        "url": "https://d30y9cdsu7xlg0.cloudfront.net/png/2400-84.png?Expires=1410170733&Signature=Go30rLjMJ~8wAnKlYQZo~xAITS7EY-51Umv2yWixinvZBq4K5igszHgBdYDhbFpcCRbxuVPAUdl3yqVE1C0O-qHjSFgREf1X~vMQww0M7zoAqhd1Z1mlpdmgBjZjMz7tHSg3UV0DK1jQlGOxjB9RTqjbm5hZHa7Eh2mBuVjS2XU_&Key-Pair-Id=APKAI5ZVHAXN65CHVU2Q",
        "width":  80,
        "height": 80
      },
      "infowindow": "hello!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});

console.log(handler);

</script>