/* Sandstone
 * Bootswatch
 *= require_self
 *= require sandstone/loader
 *= require sandstone/bootswatch
*/


tr.yellow, td.yellow {
	background-color: yellow !important;
	opacity: 0.8;
}

tr.white, td.white {
	background-color: white !important;
	opacity: 0.8;
}

tr.red, td.red {
	background-color: red !important;
	opacity: 0.8;
}